body {
  font-family: 'Questrial';
  background: white;
}
h1 {
  margin: 15px;
  background: white;
}

table {
  border: 5px solid black;
}

td {
  padding: 5px;
  border: 1px solid grey;
  background: white;
}

th {
  background-color: black;
  color: white;
}

h2 {
  margin: 15px;
  background: white;
}

input {
  border: 2px solid black;
  padding: 2px;
  margin: 5px;
}

label {
  color: black;
}

fieldset {
  padding: 5px;
  background: white;
}